'on':
  push:
    branches:
      - 2.72.x
  pull_request: null
name: conformance
jobs:
  conformance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: googleapis/cloud-bigtable-clients-test
          ref: main
          path: cloud-bigtable-clients-test
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 8
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.20.2'
      - run: java -version
      - run: go version
      - run: .kokoro/conformance.sh
